*idea/

# Ignorer les files latex
*.aux
*.log
*synctex.gz
*.out
*.blg
*.bbl

*.DS_Store

# Ignore processed  data
/data/*
!data/raw/
!data/player_detection_raw/


# Pycharm shits
__pycache__/

# VSCode stuffs
.vscode/
